{% extends 'ctflex/base/headered.template.html' %} {% block title %} Winners - {{ block.super }} {% endblock %} {% block header %} Winning Teams {% endblock %} {% block content %}

<div class="text-center">
  <h3>PACTF 2018 is proud to offer <strong>over $20,000</strong> worth of <a
        href="{% url 'ctflex:prizes' %}">prizes</a>.</h3>
  <h4>Check out the <a href="{% url 'ctflex:sponsors' %}">sponsors</a> that made PACTF possible.</h4>
</div>

<p class="text-center">
  Congratulations to all of our winning teams!
</p>

<br>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      Overall Contest
    </div>
    <div class="list-group">

      <div class="list-group-item clearfix">
        <span class="bold">
              1st
            </span>
        <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=101 %}">SST CTF</a>
            </span>
      </div>

      <div class="list-group-item clearfix">
        <span class="bold">
              2nd
            </span>
        <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=29 %}">pearl</a>
            </span>
      </div>

      <div class="list-group-item clearfix">
        <span class="bold">
              3rd
            </span>
        <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=59 %}">meephackerz</a>
            </span>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="panel-group col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Lovelace
      </div>
      <div class="list-group">

        <div class="list-group-item clearfix">
          <span class="bold">
              1st
            </span>
          <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=403 %}">perfect blue</a>
            </span>
        </div>

        <div class="list-group-item clearfix">
          <span class="bold">
              2nd
            </span>
          <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=1144 %}">[ ]</a>
            </span>
        </div>

        <div class="list-group-item clearfix">
          <span class="bold">
              3rd
            </span>
          <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=29 %}">pearl</a>
            </span>
        </div>

        <div class="list-group-item clearfix">
          <span class="bold">
              4th
            </span>
          <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=479 %}">tjcsc</a>
            </span>
        </div>

        <div class="list-group-item clearfix">
          <span class="bold">
              5th
            </span>
          <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=55 %}">meephackerz</a>
            </span>
        </div>

      </div>
    </div>
  </div>

  <div class="panel-group col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Hopper
      </div>
      <div class="list-group">

        <div class="list-group-item clearfix">
          <span class="bold">
              1st
            </span>
          <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=55 %}">meephackers</a>
            </span>
        </div>

        <div class="list-group-item clearfix">
          <span class="bold">
              2nd
            </span>
          <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=101 %}">SST CTF</a>
            </span>
        </div>

        <div class="list-group-item clearfix">
          <span class="bold">
              3rd
            </span>
          <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=29 %}">pearl</a>
            </span>
        </div>

        <div class="list-group-item clearfix">
          <span class="bold">
              4th
            </span>
          <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=801 %}">Recycle Plants</a>
            </span>
        </div>

        <div class="list-group-item clearfix">
          <span class="bold">
              5th
            </span>
          <span class="pull-right">
              <a href="{% url 'ctflex:team' team_id=909 %}">0x5F3759DF</a>
            </span>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      Top 100 Teams
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>School</th>
        </tr>
      </thead>
      <tbody>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=101 %}';">
          <td>SST CTF</td>
          <td>School of Science and Technology</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=29 %}';">
          <td>pearl</td>
          <td>Montgomery Blair High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=55 %}';">
          <td>meephackerz</td>
          <td>None</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=909 %}';">
          <td>0x5F3759DF</td>
          <td>Polytechnic School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=47 %}';">
          <td>Microsoft Tech Support</td>
          <td>Richardson High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=750 %}';">
          <td>Panclúst</td>
          <td>Montville Township High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=403 %}';">
          <td>perfect blue</td>
          <td>Multiple</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=393 %}';">
          <td>Quadnary</td>
          <td>SPASH</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=323 %}';">
          <td>Richie M. Stalls</td>
          <td>Spring-Ford Senior High</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=312 %}';">
          <td>unlimited_reagents</td>
          <td>Bergen County Academies</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=880 %}';">
          <td>AltF4toWin</td>
          <td>Lovejoy High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=408 %}';">
          <td>Cybernetics Core</td>
          <td>Academy for Science and Design</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1141 %}';">
          <td>noxale</td>
          <td>noxale</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=23 %}';">
          <td>Shadyside</td>
          <td>Montgomery Blair High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=801 %}';">
          <td>Recycle Plants</td>
          <td>SHS + WWPHSN</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=479 %}';">
          <td>tjcsc</td>
          <td>TJHSST</td>

        </tr>


        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=587 %}';">
          <td>Society of Entropy</td>
          <td>Westminster School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=9 %}';">
          <td>toastcookie</td>
          <td>Bellarmine College Preparatory</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1094 %}';">
          <td>Ponies</td>
          <td>Interlake High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1244 %}';">
          <td>Clements</td>
          <td>Clements High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=198 %}';">
          <td>Squad Goals</td>
          <td>BB&amp;N</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=60 %}';">
          <td>doop</td>
          <td>Niles West High School</td>

        </tr>



        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=956 %}';">
          <td>%20 &gt; tabs</td>
          <td>Menlo School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=433 %}';">
          <td>U+202e</td>
          <td>Poolesville High School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=568 %}';">
          <td>Veni</td>
          <td>None</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=351 %}';">
          <td>Blue Wave</td>
          <td>Noblesville High School</td>

        </tr>


        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=429 %}';">
          <td>Exodus</td>
          <td>Spring-Ford High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=50 %}';">
          <td>TurKimPan</td>
          <td>Phillips Academy Andover</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=423 %}';">
          <td>Chaldeas</td>
          <td>South Brunswick High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=957 %}';">
          <td>Cue Us</td>
          <td>Menlo School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=247 %}';">
          <td>The Concatenators</td>
          <td>Cedar Park High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1294 %}';">
          <td>Omega</td>
          <td>Northwood High School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=420 %}';">
          <td>0X2.9C__8P+0_9D</td>
          <td>Cranbrook High School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=955 %}';">
          <td>Trey's Receding Hairline</td>
          <td>Menlo School</td>

        </tr>


        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=886 %}';">
          <td>Goyims</td>
          <td>Lovejoy High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=27 %}';">
          <td>One hundo percent not FBI</td>
          <td>Takoma Park Middle School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=137 %}';">
          <td>Wow</td>
          <td>TJHSST</td>

        </tr>





        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=53 %}';">
          <td>dictat0rs.php</td>
          <td>Wellesley High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=516 %}';">
          <td>PentaHex</td>
          <td>Various</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1220 %}';">
          <td>Keyoungdant</td>
          <td>Bergen County Academies</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=650 %}';">
          <td>CTFlearn</td>
          <td>Bergen County Academies</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1466 %}';">
          <td>dudajeg</td>
          <td>None</td>

        </tr>


        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=105 %}';">
          <td>Y Y Combinator Combinator</td>
          <td>Ambassador High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=318 %}';">
          <td>pippinpaddleoppsokopolis</td>
          <td>Temple City High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=381 %}';">
          <td>Fire Brigade</td>
          <td>Liberal Arts and Science Academy</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=414 %}';">
          <td>/dev/null</td>
          <td>South Brunswick High school</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=814 %}';">
          <td>PNKD</td>
          <td>None</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=473 %}';">
          <td>Cranbrook Kingswood B</td>
          <td>Cranbrook Kingswood</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=123 %}';">
          <td>Blue</td>
          <td>Lausanne</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=30 %}';">
          <td>L Distribution</td>
          <td>None</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=727 %}';">
          <td>Luddites</td>
          <td>Kehillah Jewish Highschool</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1144 %}';">
          <td>[ ]</td>
          <td>Livingston High School</td>

        </tr>






        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=954 %}';">
          <td>toasterwar</td>
          <td>None</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1445 %}';">
          <td>HoraceMann</td>
          <td>Horace Mann School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=81 %}';">
          <td>Retest to an 85</td>
          <td>Lovejoy High School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1278 %}';">
          <td>AOL Coding Skuad</td>
          <td>Takoma Park Middle School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=217 %}';">
          <td>MY NAME JEFF</td>
          <td>Chinese International School</td>

        </tr>


        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=160 %}';">
          <td>WHRHS CS 1</td>
          <td>Watchung Hills Regional High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=150 %}';">
          <td>AtreyaSux</td>
          <td>Menlo School</td>

        </tr>


        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1071 %}';">
          <td>Blue Power</td>
          <td>Vandegrift Highschool</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1371 %}';">
          <td>Purple Power</td>
          <td>Vandegrift High School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=412 %}';">
          <td>GeniusDumbos</td>
          <td>Herbert Hoover Middle School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1222 %}';">
          <td>b2c</td>
          <td>Montgomery Blair High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=151 %}';">
          <td>Trey'sDrugAddiction</td>
          <td>Menlo School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1238 %}';">
          <td>Falcon10</td>
          <td>Pottsgrove High School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=374 %}';">
          <td>IT’S NINJANIC!!!</td>
          <td>Columbus Academy</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=469 %}';">
          <td>RMHS Programming Club</td>
          <td>Reading Memorial High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=850 %}';">
          <td>404NFnd</td>
          <td>Northfield Mount Hermon School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=268 %}';">
          <td>Smash Mouth Official</td>
          <td>STEM School Highlands Ranch</td>

        </tr>


        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=183 %}';">
          <td>Forest Park Bruins</td>
          <td>Forest Park High School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1233 %}';">
          <td>MaldenHighSchool</td>
          <td>Malden High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=141 %}';">
          <td>L.L.I.E.S</td>
          <td>Verdugo Hills High School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=67 %}';">
          <td>The 8</td>
          <td>Cypress Bay High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=246 %}';">
          <td>ZomboCom</td>
          <td>Andover High School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=921 %}';">
          <td>wearetheidiots</td>
          <td>None</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=37274 %}';">
          <td>CVU</td>
          <td>Champlain Valley Union High School</td>

        </tr>



        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1486 %}';">
          <td>Lemon</td>
          <td>Winchester High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=76 %}';">
          <td>Class Vanishes</td>
          <td>Downingtown East high school</td>

        </tr>


        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1344 %}';">
          <td>Dons Cosecant</td>
          <td>Loyola Blakefield</td>

        </tr>




        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=131 %}';">
          <td>alias less='more'</td>
          <td>MBHS</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=58 %}';">
          <td>Westwood Robotics</td>
          <td>Westwood High School</td>

        </tr>



        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=176 %}';">
          <td>eEEeeeeEeEEeEEE</td>
          <td>Oakwood School</td>

        </tr>




        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=352 %}';">
          <td>Red Power</td>
          <td>Vandegrift High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=299 %}';">
          <td>Homestead1</td>
          <td>Homestead High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=152 %}';">
          <td>Hose Ain't (Allan) Wirth It</td>
          <td>Menlo School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=269 %}';">
          <td>Mr. Carpenter</td>
          <td>The Gregory School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=144 %}';">
          <td>Stomping_On_Your_Code</td>
          <td>Stranahan</td>

        </tr>


        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1064 %}';">
          <td>Codeby</td>
          <td>25</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=502 %}';">
          <td>Almond robotics</td>
          <td>Herbert Hoover’s middle school</td>

        </tr>



        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=434 %}';">
          <td>Tide Codes</td>
          <td>Andover High School</td>

        </tr>

        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=789 %}';">
          <td>🅱yte Me</td>
          <td>Granada Hills Charter Highschool</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=934 %}';">
          <td>Power Rangers</td>
          <td>Friendswood High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=881 %}';">
          <td>BAM</td>
          <td>Lovejoy High School</td>

        </tr>


        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=279 %}';">
          <td>CAAAN you not?</td>
          <td>Bergen County Academies</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=271 %}';">
          <td>Algonquin</td>
          <td>Algonquin Regional High School</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=314 %}';">
          <td>lo</td>
          <td>Plano West Senior High School</td>

        </tr>




        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=991 %}';">
          <td>adergaderga</td>
          <td>None</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1226 %}';">
          <td>ESnowden</td>
          <td>Academy for science and design</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=790 %}';">
          <td>Gold Squadron</td>
          <td>OPS #1873</td>

        </tr>
        <tr class="team clickable-row " onclick="window.location='{% url 'ctflex:team' team_id=1178 %}';">
          <td>Official Progs</td>
          <td>South Technical High School</td>
        </tr>

  </div>
</div>
{% endblock %}
